/* GLOBAL */
*{
padding: 0;
margin: 0;
box-sizing:border-box;

}
.global{
  width:80%;
  margin:20px auto;
  
}
.clearfix::after{
  content:"";
  display:table;
  clear:both;
}
/* BORDER RADIUS */
.jumbotron,footer{
  border-radius: 10px;

}
/* MARGIN */
header,.jumbotron{
  margin-bottom: 20px;
}
header{
  height: 100px;
  background-color: brown;
}
.jumbotron{
  height: 300px;
  background-color: coral;
}
.conteiner{
  background-color:darkblue;
  margin-bottom:5px;
}
/* TOP ASIDE MAIN CHARACTERS */
.top,aside,main{
  background-color:darkcyan
}
.top
{
  height:50px;
  margin-bottom: 20px;
}
aside,main{
  margin-bottom:15px
}
aside{
  height: 200px;
  width: 20%;
  float: left;
}
main{
  height: 200px;
  width: 56%;
  float: left;
  margin: auto 2%;
}
/* FOOTER */
footer
{
  height: 40px;
  background-color:darkgreen
}